---
layout: default
---
<div class="header header-filter" style="background-image: url({{ page.image | default: '/assets/img/headers/smith-rock.jpg'}});">
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section section-landing">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2 class="title">{{ page.title }}</h2>
          <h5 class="description">
            <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
          </h5>
        </div>
      </div>
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting" style="padding-top: 10px;">
        <div class="post-content" itemprop="articleBody">
          {{ content | replace: '<img', '<img class="img-responsive"' }}
        </div>

      </article>
      <div class="comments-area">
        <h3 class="text-center">Comments</h3>
        <div class="comments">
        </div>


        <form class="form-horizontal">
          <fieldset>
            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="textarea">Message</label>
              <div class="col-md-4">                     
                <textarea class="form-control" id="message" name="textarea" required=""></textarea>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Name</label>  
              <div class="col-md-4">
                <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Email</label>  
              <div class="col-md-4">
                <input id="email" name="email" type="email" placeholder="" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="post"></label>
              <div class="col-md-4">
                <button id="post" name="post" class="btn btn-primary">Post Comment</button>
              </div>
            </div>

          </fieldset>
        </form>


      </div>
      <div class="notice">
        <hr>
        <p>
          <small>
            The information in this weblog is provided “AS IS” with no warranties, and confers no rights. <br>
            This weblog does not represent the thoughts, intentions, plans or strategies of my employer. It is solely my opinion.
          </small>
        </p>
      </div>
    </div>
  </div>
</div>


